@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <form asp-controller="Movies" asp-action="Index" method="get">
        <p>

            <select asp-for="MovieGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>

            Title: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>

@* <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Movies[0].Title)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Movies[0].Rating)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Movies[0].Genre)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Movies[0].Price)
    </th>

    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Movies)
    {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Rating)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ReleaseDate)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table> *@

<center>
    <hr />
    <!--<s5221>-->Сортировать по
    <!--</s>-->: <select class="select_filter">
        <option value="0" style="color:#A3A3A3;">- Качество -</option>
        <option value="1">3D</option>
        <option value="2">4K</option>
        <option value="3">BluRay</option>
        <option value="4">Full HD</option>
        <option value="5">HD</option>
        <option value="6">SD</option>
        <option value="7">TS</option>
        <option value="9">CAMRip</option>
        <option value="8">MP4</option>
    </select> · <select class="select_filter">
        <option value="0" style="color:#A3A3A3;">- Год -</option>
        <option value="18">2021</option>
        <option value="17">2020</option>
        <option value="16">2019</option>
        <option value="15">2018</option>
        <option value="14">2017</option>
        <option value="1">2016</option>
        <option value="2">2015</option>
        <option value="3">2014</option>
        <option value="4">2013</option>
        <option value="5">2012</option>
        <option value="6">2011</option>
        <option value="7">2010</option>
        <option value="8">2009-2000</option>
        <option value="9">1999-1990</option>
        <option value="10">1989-1980</option>
        <option value="11">1979-1970</option>
        <option value="12">1969-1960</option>
        <option value="13">1959-1950</option>
    </select><span class="sortBlock23">
        <hr />
        <hr />
        <div id="movies">
            <div class="item-1">
                <div class="blockItem shortstory">
                    <div class="shortstoryImg">

                        <div class="triangle-topleft-new"><span>BluRay</span></div>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img
                                title="Poster Холмс &amp; Ватсон (2018) Blu-Ray Remux 1080p" src="~/images/filler.jpg"
                                alt="Обложка Холмс &amp; Ватсон (2018) Blu-Ray Remux 1080p">
                            <b class="short_itemTitle">
                                <span></span></b></a><b class="short_itemTitle"><a
                                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">"Tittle" ("Year") "Quality"
                            </a>
                        </b>
                    </div>
                    <div class="shortstory_info">
                        <div class="itemStats">
                            <span class="itemStats_left">
                                <ion-icon name="eye-outline">
                                </ion-icon>&nbsp;999
                            </span>
                            <span class="itemStats_right">
                                <ion-icon name="download-outline">
                                </ion-icon>&nbsp;999
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</center>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>